ul.tree {
    min-height: 20px;
    padding: 15px;
}
.tree ul {
    padding-left: 15px;
}
.tree li {
    list-style-type: none;
    margin: 0;
    padding: 10px 5px 0 5px;
    position: relative
}
.tree li.parent_li>span {
    cursor: pointer
}
.tree ul.close {
    display: none;
}
